.image {
  width: 100px;
  height: 100px;
}
.logo {
  width: 50px;
  height: 20px;
}
.text-decoration-none {
  text-decoration: none;
}
.margin {
  margin: 10px 300px;
}
.background {
  background-color: #D5D8DC;
}